:host {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    background-color: #262626;
    border: 2px;
    border-color: black;
    border-radius: 10px;
}

p {
    color: aliceblue;
}